[Unit]
Description=Slack - An instant messaging application
PartOf=graphical-session.target
After=graphical-session.target

[Service]
Type=simple
Environment=DISPLAY=:0
Environment=WAYLAND_DISPLAY=wayland-1
Environment=XDG_CURRENT_DESKTOP=sway
ExecStart=/usr/bin/slack -u
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=sway-session.target
